* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(129, 129, 129);
}

body,
input,
textarea,
button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}